<th:block th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml">
    <footer class="sticky-footer bg-white">
        <div class="container my-auto"><div class="copyright text-center my-auto">
            <span>© Movie Admin</span>
        </div></div>
    </footer>

    <!-- JS bắt buộc theo đúng thứ tự -->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
    <script th:src="@{/js/sb-admin-2.min.js}"></script>
</th:block>
